.cartEmpty {
  text-align: center;

  p {
    margin-top: 9px;
    width: 280px;
    line-height: 24px;
  }

  button {
    width: 245px;
    margin-top: 20px;

    &:hover {
      img {
        transform: translateX(-3px);
      }
    }

    img {
      position: relative;
      top: 1px;
      margin-right: 15px;
      transition: transform 0.15s ease-in-out;
    }
  }
}